<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />    
  </startup>
  <appSettings>
    <add key="messageWriter" value="Ghost.Business.Demo01.ConsoleMessageWriter, Ghost.Business.Demo01"/>
    <add key="alternativeMessageWriter" value="Ghost.Business.Demo01.FileMessageWriter, Ghost.Business.Demo01"/>
  </appSettings>
</configuration>